<h2>Data Submission</h2>

<center>
    <p style="font-size: larger;">Please select a submission method:</p>
    
    <a href="/dashboard/submit-report/form">
        <button class="btn-dat-submission"><i class="fa-solid fa-file-pen"></i> Manual Submission</button>
    </a><br>

    <a href="/dashboard/submit-report/upload">
        <button class="btn-dat-submission"><i class="fa-solid fa-file-arrow-up"></i> Spreadsheet Upload Form</button>
    </a>
</center>